$colors: (
    //JSON colors
    primary:#61C8B6,
    primary-hover:#289c89,
    secondary: #033454,
    secondary-hover: #1b608d,
    success:#00AAA7,
    white:#fff,
    white-hover:#ccc5c5,
    black:#000,
    gray: #6c757d,
    gray-hover: #3a3c3d,
    gray-dark: #060708,
    black-opacity: rgba(0, 0, 0, 0.15),
    bg-section: linear-gradient(0deg, rgba(247,243,251,0.8) 0%, #F7F3FB 100%),
    input-activate:#1e90ff,
    green: #28a745,
    redIsInvalid:#dc3545,

);


$bg-login: url("../../../img/bg-login.jpg") no-repeat center center fixed;
$gif-loader: url('../../../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
$img-check: url('../../../img/check.svg');

$col-sm:"(max-width: 768px)";
$col-md:"(max-width: 992px)";

// Function
@function color($color-name) {
    //map-get ==> metodo para obtener el valor los objetos internos del json
    @return map-get($colors,$color-name);
}

  
body {
    font-family: sans-serif;
    background:$bg-login;
    background-repeat: no-repeat;
    background-size: cover;

    // a:hover{
    //   text-decoration: none;
    // }

    .loader {
      position: fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;
      z-index: 9999;
      background:$gif-loader;
      background-size: 110px;
    }

    button {
      border: 0;
      background-color: color(white);

    }

    .card{
        margin-top:80px;
        border-radius: .5rem;
        padding:0;
        background-color: color(white);
        box-shadow:0px 0px 3px color(primary);
        width: 90%;

      

        .btn-primary {
          background-color:color(secondary);
          border-color: color(secondary);
          color: color(white);
          font-size: 80%;
          border-radius: 0.7rem;
          letter-spacing:2px;
          font-weight: bold;
          padding: 0.6rem;
          opacity: 0.99;
          transition: all 0.3s;

          &:hover{
            background-color: color(secondary-hover);
          }
        }

        .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
          color: #fff;
          background-color:color(primary);
          border-color:color(gray);
        }
      

        @media #{$col-md}{
          width: 100%;
        }

        .link{
          text-decoration: none!important;
          padding: 0;
          color:color(secondary-hover);
          &:hover{
            color:color(secondary);
          }

        }

        .form-signin {
            width: 100%;
            max-width:90%;
            margin: 0 auto;
        }

        .form-group{
           margin-bottom: 20px;
           
           input {
               border-radius: 8px;
           }
        }

      .input-icon{
        .input-pass{
          padding-right: 40px;
        }

        button{
          position: absolute;
          right:0;
          top:2px;
        }

        .btn-link{
          color:color(gray);
          &:hover{
            color:color(gray-hover)!important;
           
          }
        }

      }
    
      .input-icon input {
        padding-left: 40px;
      }
      
      .input-icon {
        position: relative;
      }
      
      .input-icon i {
        position: absolute;
        left: 0;
        top: 2px;
        padding: 9px;
        margin-left: -20px;
        color: #aaa;
        transition: 0.3s;
        margin: 0;
      }
      
      .input-icon input:focus {
        box-shadow: 0 0 5px 0 color(secondary);
        border-color:color(secondary);
      }

      .input-icon input:focus + i {
        color: color(secondary);
      }
      
  
  }


  .color-blue-i{
    color: color(secondary)!important;
    opacity: 0.8;
  }

  .color-success-i{
    color: color(success)!important;
    opacity: 0.8;
  }

  .was-validated .form-control:valid, .form-control.is-valid {
    border-color: color(success);
    background-image: $img-check;
  }

  .was-validated .form-control:valid:focus, .form-control.is-valid:focus {
    box-shadow: 0 0 5px 0 color(success)!important;
    border-color:color(success)!important;
  }

  .was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    box-shadow: 0 0 5px 0 color(redIsInvalid)!important;
    border-color:color(redIsInvalid)!important;
  }


  
  
  .color-black{
    color: color(black)!important;
  }

  .font-08rem{
    font-size: .8rem;
  }

  .font-09rem{
    font-size: .9rem;
  }

  .font-1rem{
    font-size: 1rem;
  }
  
 
 


}
