@import "sass/variables.scss";
@import "sass/functions.scss";



.pages{
    .card{
        margin-top:15px;
        margin-bottom: 15px;
        h1,h2,h3,h4,h5{
            color:color(gray-900);
        }

        p{
            color:color(gray-700);
        }

        .btn{
            font-size: 0.9rem;
        }

        hr{
            margin-top:1px;
        }

        .btn-success{
            border-color:color(primary);
            background-color: color(primary);
            color:color(gray-100);
            &:hover{
                background-color: color(primary-hover);
            }
        }
    }



}