@import "variables.scss";
@import "functions.scss";

.file-bank{

    .pdf{
        color: color(pdf);
        &:hover{
            color:color(pdf-hover);
        }
    }

    .word{
        color: color(word);
        &:hover{
            color:color(word-hover);
        }
    }

    .archive{
        color: color(archive);
        &:hover{
            color:color(archive-hover);
        }
    }

    .audio{
        color: color(word);
        &:hover{
            color:color(word-hover);
        }
    }

    .alt{
        color: color(archive);
        &:hover{
            color:color(archive-hover);
        }
    }

    .file{
        color: color(archive);
        &:hover{
            color:color(archive-hover);
        }
    }

    

    .navbar-light .navbar-nav .nav-link {
        color: color(gray-300);
        font-weight: 500;
        &:hover{
            color:color(white);
        }
        @media #{$col-sm}{
            font-size: .8rem;
        }

    }

    h1,h2,h3,h4,h5,h6{
        color:color(gray-800);
    }

    .navbar{
        border-radius: 5px;
        padding-top:5px;
        padding-bottom: 5px;
        input{
            font-size: .8rem;
        }

        span{
            color:color(gray-300);
            border: 0;
            font-size: 1.01rem;
        }

        .arrow{
            color:color(gray-300);
            &:hover{
                color:color(white);
            }
        }

        .btn{
            font-size: .8rem;
            background-color:color(primary);
        }
    }

    .cards-files{
        hr{
            margin-top: 5px;
        }
        margin-top:20px;
        .img-thumbnail{
            margin: 0;
            padding: 0;
        }

        .tarjeta{
            margin-top:10px;
        }

        .card{
            border:0;
            padding:0;
            margin: 0;
            cursor: pointer;

            &:hover{
               box-shadow: 1px 1px 10px 0px color(secondary-opacity);
            }
            .img-card-thumbnail{
                width: 100%;
                height: 110px;
                border-radius: 5px;
                @media #{$col-sm}{
                    height: 150px;;
                }
            }

            .thumbnail{
                position: relative;
                top:0;
                left: 0;
                .type{
                    position: absolute;
                    top:0;
                    color:color(gray-200);
                    left: 0;
                    margin: 2px 4px 2px 4px;
                }
            }
        }


    }

    .btn{
        font-size: .9rem;
    }
    
    .btn-success{
        border-color: color(primary);
        background-color:color(primary);
        &:hover{
            background-color:color(primary-hover);
        }
    }

    .btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
        background-color: color(primary-hover);
        border-color:color(primary-hover);
    }
       
}