html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: color(black);
  }
  
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color:color(body);
    text-align: left;
    background-color: color(white);
}

hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
   // background: $bg-header;
    background-image: $bg-header;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  
  header.masthead h1 {
    font-size: 2.25rem;
  }
  
  @media (max-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 72px;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 72px;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }
  
  /* Cursor efecto typed */
  #typed-strings {
    margin-bottom: 20px;
  }
  
  #typed {
    display: inline;
  }
  
  .typed-cursor {
    color: color(black);
    font-size: 3em;
    
  }
  
  @media only screen and (max-width: 600px) {
    .text-landing {
      display: block;
    }
  
  }
  
  header {
    .btn-primary {
      background-color:color(secondary);
      border-color: color(secondary);
      color: color(white);
      font-size: 80%;
      border-radius: 1.4rem;
      letter-spacing:2px;
      font-weight: bold;
      padding: .8rem;
      opacity: 0.99;
      transition: all 0.3s;
    }

    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
      background-color: color(secondary);
      border-color:color(secondary);
    }

    .btn-primary:hover {
      background-color:color(secondary-hover);
      border-color: color(secondary-hover);
    }
  } 
  

  #mainNav {
    -webkit-box-shadow: 0 0.5rem 1rem color(black-opacity);
    box-shadow: 0 0.5rem 1rem color(black-opacity);
    background-color: color(white);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    color: color(gray-dark);
  }
  
  #mainNav .navbar-nav .nav-item .nav-link {
    color: color(black);
    font-weight:600;
    font-size: 0.9rem;
    padding: 0.75rem 0;
  }
  
  #mainNav .navbar-nav .nav-item .nav-link:hover, #mainNav .navbar-nav .nav-item .nav-link:active {
    color: color(secondary);
  }
  
  #mainNav .navbar-nav .nav-item .nav-link.active {
    color: color(gray) !important;
  }
  
  @media (min-width: 992px) {
    #mainNav {
      -webkit-box-shadow: none;
      box-shadow: none;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: color(black);
    }
    #mainNav .navbar-brand:hover {
      color: color(black);
    }
    #mainNav .navbar-nav .nav-item .nav-link {
      color: color(black);
      padding: 0 1rem;
    }
    #mainNav .navbar-nav .nav-item .nav-link:hover {
      columns: color(gray);
    }
    #mainNav .navbar-nav .nav-item:last-child .nav-link {
      padding-right: 0;
    }
    #mainNav.navbar-scrolled {
      -webkit-box-shadow: 0 0.5rem 1rem color(black-opacity);
      box-shadow: 0 0.5rem 1rem color(black-opacity);
      background-color:color(white);
    }
    #mainNav.navbar-scrolled .navbar-brand {
      color:color(gray-dark);
    }
    #mainNav.navbar-scrolled .navbar-brand:hover {
      color: color(gray);
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
      color: color(gray-dark);
    }
    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
      color: color(gray);
    }
  }
  
  .color-icon {
    color: color(primary);
  }

  .section {
    background-image:color(bg-section);
  }

  #plan {
    .btn {
      font-size: 80%;
      border-radius: 1.4rem;
      letter-spacing:2px;
      font-weight: bold;
      padding: .8rem;
      opacity: 0.99;
      transition: all 0.3s;
    }

    .card {
      border: none;
      border-radius: .5rem .5rem 1rem 1rem;
      transition: all 0.3s;
      box-shadow: 0 0.5rem 1rem 0 color(black-opacity);
      margin-bottom: 20px;
    }

    .card-title {
      margin: 0.5rem 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
  
    .card:hover {
      margin-top: -.6rem;
      margin-bottom: .6rem;
    }
  
    .card:hover .btn {
      opacity: 1;
    }
   
    .btn-primary {
      background-color: color(secondary);
      border-color:color(secondary);
    }
    
    .btn-primary:hover {
      background-color:color(secondary-hover);
      border-color: color(secondary-hover);
    }
    
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
      background-color: color(secondary);
      border-color:color(secondary);
    }

    .card-title {
      color:color(secondary)
    }
    .card-header-blogger{
      border-radius: 1rem 1rem 0rem 0rem;
      background: color(card-blogger);
      padding: 3px;
    }

    .card-header-premium{
      border-radius: 1rem 1rem 0rem 0rem;
      background: color(card-premium);
      padding: 3px;
    }

    .card-header-business{
      border-radius: 1rem 1rem 0rem 0rem;
      background: color(card-business);
      padding: 3px;
    }

    .card-text-price {
      font-size: 2.5rem;
      span {
        font-size: 1rem;
       
      }
  
    }

    .fa-ul {
     li {
       margin-left:-1rem;

       .fa-times {
         color:color(gray)
       }
        h6{
          color:color(card-check);
          span {
            margin-left: 10px;
          }
          strike {
            color:color(gray);
          }
        }
      }
    }
  

  }


  footer {
    .footer-social{
      width: 100%;
      padding-top: 10px;
      padding-bottom: 20px;
      background-color:color(secondary);

      .icon-fb{
        margin-right: 40px!important;
      }
  
      .icon-tw{
        margin-right: 40px!important;
      }
  
      .icon-ig:hover{
        color:color(white-hover);
      }

      a:hover{
        color:color(white-hover)!important;
      }
    }

    .footer-info{
      background-color:color(secondary-hover);
      color:color(white);

      a{
        color:white;
        &:hover{
          color:color(white-hover);
          text-decoration: none;
        }
      }

      .col-center{
        text-align:left;
      }
    }

  }


#logo{
  .text-color-1{
    margin-left: -11px;
  }

  .text-color-2{
    margin-left: -4px;
  }

  .dragon{
    margin-left: 20px;
  }

}