<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dragon CMS</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/admin/img/favicon.ico" type="image/x-icon">

  <!-- Styles vendor -->
  <link href="/admin/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
  <link href="/admin/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/admin/vendor/fonts/font-nunito.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/vendor/jquery-confirm/css/jquery-confirm.css">

  <!-- Chart js  -->
  <link href="/admin/vendor/chart-js/chart.min.css" rel="stylesheet">

  <!-- Sytle  -->
  <link href="/admin/css/style.min.css" rel="stylesheet">
</head>

<body>

 <div class="loader"></div>
 <div id="wrapper">
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
          <!-- Logo -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" onclick="dashboard()">
          <div class="sidebar-brand-icon">
              <i class="fas fa-dragon color-primary dragon"></i>
          </div>
          <div class="sidebar-brand-text ml-1">
            <span class="color-white">Dragon</span><span class="color-primary">CMS</span></div>
        </a>

        <hr class="sidebar-divider my-0">
        <!-- Item Simple -->
        <li class="nav-item">
          <a onclick="dashboard()" class="nav-link">
            <i class="fas fa-home fa-fw"></i>
            <span><b>Inicio</b></span></a>
        </li>

        <hr class="sidebar-divider">
        <!-- Encabezado -->
        <div class="sidebar-heading">
          Sitio Web
        </div>

        <!-- Item collapsado-->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-1" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-pen fa-fw"></i>
            <span>Sitio Web</span>
          </a>
          <div id="collapse-item-1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Opciones:</h6>
              <a onclick="pages()" class="collapse-item">Paginas</a>
              <a onclick="entries()" class="collapse-item">Entradas</a>
              <a onclick="category()" class="collapse-item">Categorias entradas</a>
              <a onclick="comments()" class="collapse-item">Comentarios</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

          <!-- Encabezado -->
        <div class="sidebar-heading">
          Gestion
        </div>

        <!-- Item collapsado-->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-cog fa-fw"></i>
            <span>Administracion</span>
          </a>
          <div id="collapse-item-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Opciones:</h6>
              <a onclick="filesBank()" class="collapse-item">Banco de archivos</a>
              <a onclick="menus()" class="collapse-item">Menus</a>
              <a onclick="breadcrumbk()" class="collapse-item">Breadcrumbs</a>
              <a onclick="themes()" class="collapse-item">Temas</a>
              <a onclick="users()" class="collapse-item">Usuarios</a>
              <a onclick="roles()" class="collapse-item">Roles</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Encabezado -->
        <div class="sidebar-heading">
          Ajustes
        </div>

        <!-- Item collapsado-->
        <li class="nav-item">
          <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-3" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-fw fa-cog"></i>
            <span>Configuraciones</span>
          </a>
          <div id="collapse-item-3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Opciones:</h6>
              <a onclick="siteSettings()" class="collapse-item">Configuracion del sitio</a>
            </div>
          </div>
        </li>
        <hr class="sidebar-divider d-none d-md-block">


        <!-- Button para ocultar o mostrar el SideBar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

      </ul>
      <!-- Fin del Sidebar -->


   <!-- Contenido -->
   <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <!-- Inicio del Navbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Incluir la clase d-none en caso de querer ocultar el nombre para pantallas <= md -->
                  <span id="user-name" class="mr-2 d-lg-inline text-gray-600 small"></span>
                  <img class="img-profile rounded-circle">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                      <a class="dropdown-item">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                      </a>
                      <a class="dropdown-item">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Configuraciones
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" onclick="logoutUser()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesion
                      </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- Fin del NavBar -->

       <!-- Container -->
       <div id="container-dashboard" class="container-fluid">
         <div class="row">
               <!-- Card Numero Entradas-->
                <div class="col-12 col-md-4 mb-4">
                  <div class="card border-bottom-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Entradas/Post</div>
                          <div id="number-entries" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-clone fa-2x color-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Card Numero Archivos-->
                <div class="col-12 col-md-4 mb-4">
                  <div class="card border-bottom-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Numero de archivos</div>
                          <div id="number-files" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-archive fa-2x color-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                 <!-- Card Numero Archivos-->
                <div class="col-12 col-md-4 mb-4">
                  <div class="card border-bottom-primary shadow h-100 py-2">
                    <div class="card-body">
                      <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                          <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Usuarios</div>
                          <div id="number-users" class="h5 mb-0 font-weight-bold text-gray-800"></div>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-user fa-2x color-secondary"></i>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
         </div>

         <div class="row">
            <div class="col-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Ejemplos de shortcuts</h6>
                    </div>
                    <div class="card-body">
                        <div class="row">
                          <div class="col-12 mb-2">
                            <p class="font-09rem color-gray-800">Los shortcuts son codigos cortos que permiten crear contenido de una forma mas dinamica, a traves de los cuales se podra incrustar diversos recursos en páginas o entradas utilizando secuencias de caracteres</p>
                          </div>
                          <div class="col-12 mb-2 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Imagen</span>
                              <span class="font-09rem color-gray-800">{"tipo": "imagen", "id": "id", "estilo": "izquierda"}</span>
                          </div>
                          <div class="col-12 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Galeria</span>
                              <span class="font-09rem color-gray-800">{"tipo": "galeria", "imagenes":["id1", "id2",...]}</span>
                          </div>
                          <div class="col-12 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Video</span>
                              <span class="font-09rem color-gray-800">{"tipo": "video", "id": "id", "estilo": "derecha"}</span>
                          </div>
                          <div class="col-12 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Audio</span>
                              <span class="font-09rem color-gray-800">{"tipo": "audio", "id": "id","estilo": "centro"}</span>
                          </div>
                           <div class="col-12 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Entrada</span>
                              <span class="font-09rem color-gray-800">{"tipo": "entrada", "id": "id"}</span>
                          </div>
                           <div class="col-12 mb-2">
                              <span class="badge badge-primary font-1rem" style="width:20%;">Login</span>
                              <span class="font-09rem color-gray-800">{"tipo": "login"}</span>
                          </div>
                        </div>
                    </div>
                </div>
           </div>

           <div class="col-12 col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Estadisticas de archivos</h6>
                    </div>
                    <div class="card-body">
                          <div class="chart-pie pt-4 pb-2">
                              <canvas id="chart-files"></canvas>
                          </div>
                        <div class="mt-4 text-center small">
                            <span class="mr-2">
                              <i class="fas fa-circle text-primary"></i>Imagenes
                            </span>
                            <span class="mr-2">
                              <i class="fas fa-circle color-success"></i>Videos
                            </span>
                            <span class="mr-2">
                              <i class="fas fa-circle color-gray-800"></i> Otros
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
     </div>
     <!-- Fin Contenido -->
    
   </div>
   <!-- Fin del contenido del wrapper-->

 </div>
 <!-- Fin del wrapper -->


 <!-- Script Vendor -->
 <script src="/admin/vendor/jquery/jquery.min.js"></script>
 <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="/admin/vendor/jquery-confirm/js/jquery-confirm.js"></script>

 <!-- Chart js-->
 <script src="/admin/vendor/chart-js/chart.min.js"></script>

 <!-- Script -->
 <script src="/admin/js/controllers/sidebar.js"></script>
 <script src="/admin/js/controllers/dashboard.js"></script>
 <script src="/admin/js/global.js"></script>

 <script>

 </script>
 
</body>

</html>

 