<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dino CMS</title>

    <link rel="shortcut icon" href="/admin/img/favicon.ico" type="image/x-icon">
    <link href="/admin/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
  
    <link rel="stylesheet" href="/admin/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/admin/vendor/fonts/font-nunito.css">
    <link rel="stylesheet" href="/admin/vendor/jquery-confirm/css/jquery-confirm.css">

    <link href="/admin/css/style.min.css" rel="stylesheet">
</head>
<body id="login">
    <div class="loader"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card">
                    <div class="card-body text-center">
                        <div class="card-title mb-4 mt-2">
                            <div class="col-12 text-center mb-n2">
                                 <!-- Logo -->
                                <div id="logo" class="">
                                    <i class="fas fa-dragon color-primary dragon"></i>
                                    <div>
                                        <span class="text-color-1">Dragon</span>
                                        <span class="text-color-2">CMS</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <h5>Iniciar Sesión</h5>  -->
                        </div>
                        <!-- Inicio Form Login -->
                        <form class="form-signin">
                            <div class="form-group input-icon mb-3">
                                <input  id="txt-email" class="form-control color-black font-09rem" type="email" placeholder="Correo electrónico">
                                <i class="fas fa-envelope-open fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                                <div class="text-left invalid-feedback mb-n2">Email no valido</div>
                            </div>   
                            <div id="div-pass" class="form-group input-icon mb-3">
                                <input id="txt-password"  class="form-control input-pass color-black font-09rem" type="password" placeholder="Contraseña">
                                <i id="i-lock" class="fas fa-key fa-lg fa-fw color-blue-i" aria-hidden="true"></i>
                                <!-- <button id="hidden-pass" type="button" class="btn btn-link"><span class="fas fa-eye fa-1x" aria-hidden="true"></span></button>
                                <button  id="show-pass" type="button" class="btn btn-link"><span  class="fas fa-eye-slash fa-1x" aria-hidden="true"></span></button> -->
                                <div class="text-left invalid-feedback">Contaseña vacia</div>
                                <div class="custom-control custom-checkbox text-left mt-2">
                                    <input type="checkbox" class="custom-control-input" name="chk-show[]" id="chk-show">
                                    <label class="custom-control-label font-09rem" for="chk-show">Mostrar contraseña</label>
                                </div>                
                            </div>
                            <div class="text-right mb-3 mt-n3">
                                <button type="button" class="btn btn-link link font-09rem">Olvidate tu contraseña?</button>
                            </div>
                            <div class="form-group text-center">
                                <button id="btn-ingresar" type="button" class="btn btn-block btn-primary">Ingresar</button>
                            </div>
                        </form>
                        <!-- Fin Form Login -->
                    </div>
                    <div class="card-footer text-center">
                        <small class="text-muted font-1rem">Nuevo en Dino CMS</small>
                        <button id="btn-registro" type="button" class="btn btn-link link font-09rem">Registrate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/jquery-confirm/js/jquery-confirm.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/js/pages/login.js"></script>

</body>
</html>