<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dino CMS</title>

    <link href="/admin/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
    <link rel="shortcut icon" href="/admin/img/favicon.ico" type="image/x-icon">
  
    <link rel="stylesheet" href="/admin/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="/admin/vendor/fonts/font-nunito.css">
    <link rel="stylesheet" href="/admin/vendor/jquery-confirm/css/jquery-confirm.css">

    <link href="/admin/css/registro.min.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <!-- Inicio de card -->
                <div class="card card-body">
                    
                    <div id="formulario-registro" class="row justify-content-center">
                            <div class="col-12 text-center">
                                <!-- Logo -->
                                <div id="logo" class="">
                                        <i class="fas fa-dragon color-primary dragon"></i>
                                        <div>
                                            <span class="text-color-1">Dragon</span>
                                            <span class="text-color-2">CMS</span>
                                        </div>
                                </div>
                            </div>
                            <div class="col-11 input-icon mb-2">
                                <input id="txt-nombre" type="text" class="form-control font-09rem" placeholder="Nombre">
                                <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                                <div class="text-left invalid-feedback">Nombre vacio</div>
                            </div>
                            <div class="col-11 input-icon mb-2">
                                <input id="txt-apellido" type="text" class="form-control font-09rem" placeholder="Apellido">
                                <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                                <div class="text-left invalid-feedback">Apellido vacio</div>
                            </div>
                            <div class="col-11 input-icon mb-2">
                                <input id="txt-email" type="email" class="form-control font-09rem" placeholder="Email">
                                <i class="fas fa-envelope-open fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                                <div class="text-left invalid-feedback">Email invalido</div>

                            </div>
                            <div class="col-11 input-icon mb-2">
                                <input id="txt-password" type="password" class="form-control font-09rem" placeholder="Contraseña">
                                <i class="fas fa-key fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                                <div class="text-left invalid-feedback">Contraseña vacia</div>
                            </div>
                            <div class="col-11">
                                <button id="btn-registrarse" type="button" class="btn btn-block btn-primary">Registrarse</button>
                            </div>
                        </div>
                        
                </div>
                <!-- Fin card -->
            </div>
        </div>
    </div>
    <script src="/admin/vendor/jquery/jquery.min.js"></script>
    <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="/admin/vendor/jquery-confirm/js/jquery-confirm.js"></script>

    <script src="/admin/js/pages/registro.js"></script>
</body>
</html>