<div id="container-entries" class="row entries">
    <!-- Entradas del blog pagina por defecto -->
    <div class="col-12">
        <div class="card card-body">
            <h4>Entradas del blog</h4>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, recusandae?</p>
        </div>
    </div>

    <!-- Entradas creadas por el usuario -->
    <div class="col-12">
        <div class="card card-body">
        <div class="row">
            <div class="col-12">
                <h4>Entradas</h4>
                <hr>
            </div>
            <div class="col-12">
                <button id="btn-new-entry" type="button" class="btn btn-success">Añadir entrada</button>
            </div>
        </div>
        <div id="container-entries-list" class="row mt-3">
            <!-- Inicio Entrie -->
            <!-- <div class="col-12">
            <h5>Universo de marvel en la actualidad</h5>
            <p class="font-08rem"><span class="fas fa-history"></span>hace 1 meses</p>
            <hr>
            </div> -->
            <!-- Fin Entrie-->
        </div>
        </div>
    </div>
</div>