<!-- Inicio File Bank -->
<div class="file-bank">
    <!-- Inicio Navbar filebank -->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-file-bank" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-angle-down arrow"></i>
                </button>
                <span class="navbar-toggler mr-auto">Banco de archivos</span>
                <div class="collapse navbar-collapse" id="navbar-file-bank" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a id="btn-file-bank-all" class="nav-link">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn-file-bank-images" class="nav-link">Imagenes</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn-file-bank-videos" class="nav-link">Videos</a>
                        </li>
                        <li class="nav-item">
                             <a id="btn-file-bank-others" class="nav-link">Otros</a>
                        </li>  
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="button">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-success mt-4">Añadir archivo</button>
        </div>
    </div>
    <!-- Fin Navbar filebank -->

    <!-- Inicio cards files -->
    <div class="cards-files">
        <div id="container-files"  class="row mb-4">
            <!-- <div class="col-12 mb-n2">
                <p class="font-08rem">Ago 16,2019</p>
            </div> -->
            <!-- Card -->
            <!-- <div class="col-6 col-md-3 col-lg-2 tarjeta">
                <div class="card card-body">
                    <div class="thumbnail">
                        <img src="bankfiles/img/10.jpg" class="img-card-thumbnail">
                        <i class="fas fa-image fa-1x mt-1 type"></i>
                    </div>
                </div>
            </div> -->
            <!-- Fin Card -->
        </div>
    </div>
</div>
<!-- Fin File Bank -->

 <!-- Inicio Modal Ver Detalle-->
 <div class="modal fade" id="modal-detalle-archivo" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Detalle de archivo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div id="modal-view" class="row mt-1">
                        <div id="modal-view-img" class="col-12">
                            <img src="../../bank-files/img/10.jpg" class="img-modal-view" alt="">
                        </div>
                        <div class="col-12 codigo-badge mt-1">
                            <span class="badge badge-success">Codigo:</span>
                            <span><button type="button" class="btn btn-link btn-tippy">08987239238a2ff234</button></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button id="btn-eliminar" class="btn btn-danger btn-eliminar">Eliminar</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin Modal de registro -->