<!-- Inicio File Bank -->
<div class="file-bank">
    <!-- Inicio Navbar filebank -->
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-file-bank" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-angle-down arrow"></i>
                </button>
                <span class="navbar-toggler mr-auto">Banco de archivos</span>
                <div class="collapse navbar-collapse" id="navbar-file-bank" >
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a id="btn-file-bank-all" class="nav-link">Todos</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn-file-bank-images" class="nav-link">Imagenes</a>
                        </li>
                        <li class="nav-item">
                            <a id="btn-file-bank-videos" class="nav-link">Videos</a>
                        </li>
                        <li class="nav-item">
                             <a id="btn-file-bank-others" class="nav-link">Otros</a>
                        </li>  
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-success my-2 my-sm-0" type="button">Buscar</button>
                    </form>
                </div>
            </nav>
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-success mt-4">Añadir archivo</button>
        </div>
    </div>
    <!-- Fin Navbar filebank -->

    <!-- Inicio cards files -->
    <div class="cards-files">
        <div id="container-files"  class="row mb-4">
            <!-- <div class="col-12 mb-n2">
                <p class="font-08rem">Ago 16,2019</p>
            </div> -->
            <!-- Card -->
            <!-- <div class="col-6 col-md-3 col-lg-2 tarjeta">
                <div class="card card-body">
                    <div class="thumbnail">
                        <img src="bankfiles/img/10.jpg" class="img-card-thumbnail">
                        <i class="fas fa-image fa-1x mt-1 type"></i>
                    </div>
                </div>
            </div> -->
            <!-- Fin Card -->
        </div>
    </div>
</div>
<!-- Fin File Bank -->