<div class="row entries">
    <div class="col-12 mb-1">
        <h2>Nueva entrada</h2>
        <hr>
    </div>
    <div class="col-12 mb-4">
        <div class="row">
        <div class="col-6">
            <input id="txt-title-entry" type="text" class="form-control" placeholder="Titulo de la entrada">
        </div>
        <div class="col-6">
            <button id="btn-create-entry" type="button" class="btn btn-success">Agregar entrada</button>
        </div>
        </div>
    </div>
    <div class="col-12">
        <textarea  id="editor1" name="editor1"></textarea>
    </div>
</div>