<div class="row pages">
    <div class="col-12 mb-1">
        <h2>Nueva Pagina</h2>
        <hr>
    </div>
    <div class="col-12 mb-4">
        <div class="row">
        <div class="col-6">
            <input id="txt-title-page" type="text" class="form-control" placeholder="Titulo de la pagina">
        </div>
        <div class="col-6">
            <button id="btn-create-page" type="button" class="btn btn-success">Agregar pagina</button>
        </div>
        </div>
    </div>
    <div class="col-12">
        <textarea  id="editor1" name="editor1"></textarea>
    </div>
</div>