.input-icon {
    position: relative;

    input{
        padding-left: 40px;
            &:focus{
                box-shadow: 0 0 5px 0 color(secondary);
                border-color:color(secondary);
                & + i{
                    color: color(secondary);
                }
            }


        }

    i{
        position: absolute;
        left: 1;
        top: 2px;
        padding: 9px;
        margin-left: -20px;
        color: #aaa;
        transition: 0.3s;
        margin: 0;

    }
}

