<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Dragon CMS</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/admin/img/favicon.ico" type="image/x-icon">

  <!-- Styles vendor -->
  <link href="/admin/vendor/magnific-popup/css/magnific-popup.css" rel="stylesheet">
  <link href="/admin/vendor/font-awesome/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="/admin/vendor/fonts/font-nunito.css" rel="stylesheet">
  <link rel="stylesheet" href="/admin/vendor/jquery-confirm/css/jquery-confirm.css">

  <!-- Data Table -->
  <link rel="stylesheet" href="/admin/vendor/data-tables/css/datatables.min.css">

  <!-- Sytle  -->
  <link href="/admin/css/style.min.css" rel="stylesheet">
</head>

<body>
<div class="loader"></div>
<div id="wrapper">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <!-- Logo -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" onclick="dashboard()">
        <div class="sidebar-brand-icon">
            <i class="fas fa-dragon color-primary dragon"></i>
        </div>
        <div class="sidebar-brand-text ml-1">
          <span class="color-white">Dragon</span><span class="color-primary">CMS</span></div>
      </a>

      <hr class="sidebar-divider my-0">
      <!-- Item Simple -->
      <li class="nav-item">
        <a onclick="dashboard()" class="nav-link">
          <i class="fas fa-home fa-fw"></i>
          <span><b>Inicio</b></span></a>
      </li>

      <hr class="sidebar-divider">
      <!-- Encabezado -->
      <div class="sidebar-heading">
        Sitio Web
      </div>

      <!-- Item collapsado-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-1" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-pen fa-fw"></i>
          <span>Sitio Web</span>
        </a>
        <div id="collapse-item-1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Opciones:</h6>
            <a onclick="pages()" class="collapse-item">Paginas</a>
            <a onclick="entries()" class="collapse-item">Entradas</a>
            <a onclick="comments()" class="collapse-item">Comentarios</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">

        <!-- Encabezado -->
      <div class="sidebar-heading">
        Gestion
      </div>

      <!-- Item collapsado-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-2" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-user-cog fa-fw"></i>
          <span>Administracion</span>
        </a>
        <div id="collapse-item-2" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Opciones:</h6>
            <a onclick="filesBank()" class="collapse-item">Banco de archivos</a>
            <a onclick="menus()" class="collapse-item">Menus</a>
            <a onclick="breadcrumbk()" class="collapse-item">Breadcrumbs</a>
            <a onclick="themes()" class="collapse-item">Temas</a>
            <a onclick="users()" class="collapse-item">Usuarios</a>
            <a onclick="roles()" class="collapse-item">Roles</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Encabezado -->
      <div class="sidebar-heading">
        Ajustes
      </div>

      <!-- Item collapsado-->
      <li class="nav-item">
        <a class="nav-link collapsed" data-toggle="collapse" data-target="#collapse-item-3" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Configuraciones</span>
        </a>
        <div id="collapse-item-3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Opciones:</h6>
            <a onclick="siteSettings()" class="collapse-item">Configuracion del sitio</a>
          </div>
        </div>
      </li>
      <hr class="sidebar-divider d-none d-md-block">


      <!-- Button para ocultar o mostrar el SideBar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- Fin del Sidebar -->


   <!-- Contenido -->
   <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
          <!-- Inicio del Navbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <!-- Incluir la clase d-none en caso de querer ocultar el nombre para pantallas <= md -->
                  <span id="user-name" class="mr-2 d-lg-inline text-gray-600 small"></span>
                  <img class="img-profile rounded-circle" src="/admin/img/user.jpg">
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                      <a class="dropdown-item">
                        <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                        Perfil
                      </a>
                      <a class="dropdown-item">
                        <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                        Configuraciones
                      </a>
                      <div class="dropdown-divider"></div>
                      <a class="dropdown-item" onclick="logoutUser()">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Cerrar sesion
                      </a>
                </div>
              </li>
            </ul>
          </nav>
          <!-- Fin del NavBar -->

       <!-- Container ==> El contenido se llenara dinamicamente -->
       <div id="container" class="container-fluid">
            <!-- Inicio administracion de usuarios -->
            <div class="row users">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4>Miembros de tu equipo</h4>
                            <hr>
                            <div class="row">
                            <div class="col-12">
                                <button id="btn-nuevo-usuario" type="button" class="btn btn-success mb-4">Agregar usuario</button>
                            </div>
                            <div class="col-12">
                                <!-- Table -->
                                <table id="tbl-users" class="table table-striped table-bordered" style="width: 100%"></table>
                            </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Fin administracion de usuarios -->

       </div>
       
     </div>
     <!-- Fin Contenido -->
    
   </div>
   <!-- Fin del contenido del wrapper-->

 </div>
 <!-- Fin del wrapper -->

<!-- Inicio Modal registro -->
<div class="modal fade" id="modal-agregar-usuario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 id="title-modal" class="modal-title w-100 font-weight-bold">Agregar nueva Usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="fas fa-times"></span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="row mt-3">
                  <div id="formulario-registro" class="row justify-content-center">
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-nombre" type="text" class="form-control font-09rem" placeholder="Nombre">
                              <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Nombre vacio</div>
                          </div>
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-apellido" type="text" class="form-control font-09rem" placeholder="Apellido">
                              <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Apellido vacio</div>
                          </div>
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-email" type="email" class="form-control font-09rem" placeholder="Email">
                              <i class="fas fa-envelope-open fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Email invalido</div>

                          </div>
                          <div id="div-password" class="col-11 input-icon mb-2">
                              <input id="txt-password" type="password" class="form-control font-09rem" placeholder="Contraseña">
                              <i class="fas fa-key fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Contraseña vacia</div>
                          </div>
                      </div>
                </div>
            </div>
            <div id="modal-footer" class="modal-footer d-flex justify-content-center">
                <button id="btn-agregar-usuario" class="btn btn-success">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal de registro -->

<!-- Inicio Modal Editar-->
<div class="modal fade" id="modal-editar-usuario" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 id="title-modal" class="modal-title w-100 font-weight-bold">Editar usuario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span class="fas fa-times"></span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="row mt-3">
                  <div id="formulario-registro" class="row justify-content-center">
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-nombre-edit" type="text" class="form-control font-09rem" placeholder="Nombre">
                              <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Nombre vacio</div>
                          </div>
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-apellido-edit" type="text" class="form-control font-09rem" placeholder="Apellido">
                              <i class="fas fa-user fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Apellido vacio</div>
                          </div>
                          <div class="col-11 input-icon mb-2">
                              <input id="txt-email-edit" type="email" class="form-control font-09rem" placeholder="Email">
                              <i class="fas fa-envelope-open fa-lg fa-fw color-blue-i"  aria-hidden="true"></i>
                              <div class="text-left invalid-feedback">Email invalido</div>
                          </div>
                      </div>
                </div>
            </div>
            <div id="modal-footer-edit" class="modal-footer d-flex justify-content-center">
            </div>
        </div>
    </div>
</div>
<!-- Fin Modal de registro -->

 <!-- Script Vendor -->
 <script src="/admin/vendor/jquery/jquery.min.js"></script>
 <script src="/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
 <script src="/admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
 <script src="/admin/vendor/jquery-easing/jquery.easing.min.js"></script>
 <script src="/admin/vendor/jquery-confirm/js/jquery-confirm.js"></script>


 <!-- Data Table -->
 <script src="/admin/vendor/data-tables/js/datatables.min.js"></script>

 <!-- Script -->
 <script src="/admin/js/controllers/sidebar.js"></script>
 <script src="/admin/js/controllers/users.js"></script>
 <script src="/admin/js/global.js"></script>

</body>

</html>

 