body {
    font-family: sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Nunito', sans-serif;

}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background:$gif-loader;
    background-size: 110px;
}